@import "../node_modules/bootstrap/scss/bootstrap";

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;

}

.tasks-card{
    border:2px solid lightgrey;
    border-radius:20px;
    min-height: 100vh;
    min-width: 414px;
    position: relative;
}

.task-counter{
    height:40px;
    width:40px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top:15px;
    right:15px;
    font-size: 1.7rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-item{
    border-radius: 10px;
    list-style: none;
    margin:10px;
    position: relative;
}

.todo-text-area{
    padding:10px;
    color:black;
}

.todo{
    display: inline;
}


.complete-button{
    float: right;
    border:none;
    background: none;
    color:White;
    position: absolute;
    top:5px;
    right:40px;
}
.edit-button{
    float:right;
    border:none;
    background:none;
    color:white;
    position: absolute;
    top:5px;
    right:10px;
}

.calender-icon{
    color:white;
}

.radio-container{
    display: flex;
    justify-content: center;
}

.text-area{
    width:100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    resize:none;
}
.text-area:focus{
    width:100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    resize:none;
}

.radio-container{
    display: flex;
    width:400px;
    justify-content: space-evenly;
    margin:0 auto
}

.hidden{
    display: none;
}



.input-text{
    height:5rem;
    border-radius:20px;
}

.form-check-label{
    font-size: 13px;
    margin-bottom:3px;
}

.date{
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    border-radius: 20px;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
    
}

 .due-date-container{
     position: absolute;
     bottom:0px;
     right:10px;
     color:white;
 }

 .due-date-text-area{
     height:20px;
     margin:0;
     padding:0;
     overflow:hidden;
 }

.todo-button-container{
    display: flex;
    justify-content: center;
}

.todo-button {
    border:none;
    background-color: black;
    border-radius: 50px;
    height:3rem;
    width:16rem;
    position: fixed;
    bottom:20px;
    color:white;
    font-size: 1.5rem;
}

.todo-button-icon{
    font-size: 15px;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
  }

  input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
  }
  
  .form-control + .form-control {
    margin-top: 1em;
  }

  input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
  }


  input[type="radio"] {
    /* ...existing styles */
  
    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }