@import "../node_modules/bootstrap/scss/bootstrap";

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;

}

.tasks-card{
    border:2px solid lightgrey;
    border-radius:20px;
    min-height: 100vh;
    min-width: 414px;
    position: relative;
    text-align: center;
    color:white;
    background-color: black;
    padding:10px;
    margin: 50px 0px;
    
}

.task-header{
    padding: 30px 0;
}

.task-counter{
    height:40px;
    width:40px;
    border-radius: 50px;
    background-color: white;
    position: absolute;
    top:15px;
    right:15px;
    font-size: 1.7rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-greeting{
    text-align: start;
    padding:20px;
}

.todo-item{
    border-radius: 10px;
    list-style: none;
    margin:10px;
    position: relative;
    z-index:1;
}

.todo-text-area{
    padding:10px;
    color:black;
}

.todo{
    display: inline;
    color:white;
    height:3rem;
}


.complete-button{
    float: right;
    border:none;
    background: none;
    color:green;
    position: absolute;
    top:5px;
    right:40px;
}
.edit-button{
    float:right;
    border:none;
    background:none;
    color:black;
    position: absolute;
    top:5px;
    right:10px;
}

.calender-icon{
    color:white;
}

.text-area-container{
    margin-bottom:30px;
    padding:30px 20px;
}

.text-area{
    width:100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    resize:none;
    height:80px;
    
    border-radius:20px;
}


.text-area:focus{
    width:100%;
    border: none;
    background-color: white;
    resize: none;
    outline: none;
    resize:none;
}

.radio-header{
    padding:30px 0px;
}

.radio-container{
    display: flex;
    width:400px;
    justify-content: space-evenly;
    margin:0 auto;
    padding:30px 0px;
}

.radio-button{
    
}


.hidden{
    display: none;
}

.input-text{
    height:5rem;
    border-radius:20px;
}

.form-check-label{
    font-size: 13px;
    margin-bottom:3px;
}

.date{
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    border-radius: 20px;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
    padding:30px 0px;
}

 .due-date-container{
     position: absolute;
     bottom:0px;
     right:10px;
     color:white;
 }

 .due-date-text-area{
     height:20px;
     margin:0;
     padding:0;
     overflow:hidden;
 }


.todo-button-container{
    display: flex;
    justify-content: center;
}

.todo-button {
    border:none;
    background-color: black;
    border-radius: 50px;
    height:3rem;
    width:16rem;
    position: fixed;
    bottom:20px;
    color:white;
    font-size: 1.5rem;
    z-index: 2;
}

.todo-button-icon{
    font-size: 15px;
}

.tab-button-component{
    display: flex;
}


.tab-button{
    background-color: black;
    color:white;
    border: none;
    border-radius:50px;
    padding:5px;
    font-size:14px;
    margin:20px 10px;
    width:100px;
}

.todo-container{
    margin: 50px 0px;
}

.todo-list{
    margin:20px 0px;
}